.App {
  text-align: center;
  /*background-image: url('C:\RolemanFE\roleman\public\tło1.png'); /* Ścieżka do obrazu w folderze public */
  background-size: cover; /* Pokryj cały dostępny obszar */
  background-position: center; /* Wyśrodkuj obraz */
  background-repeat: no-repeat; /* Nie powtarzaj obrazu */
  min-height: 100vh; /* Minimalna wysokość na 100% widoku */
  color: white;
  text-align: left; /* Tekst wyrównany do lewej */
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: calc(80px + 8vmin); /* Zwiększ font, dostosuj według potrzeb */
  color: white;
  padding: 50px; /* Dodaj padding dla wyglądu */
  align-self: flex-start;
}

.dropdown-toggle, .btn-primary  {
  background-color: white; /* Kolor tła */
  color: #5c0a0a; /* Kolor tekstu, dostosuj do swojego wyglądu */
  border: 1px solid #5c0a0a; /* Dodaj obramowanie jeśli potrzebujesz */
}

.dropdown-toggle:hover,.btn-primary:hover {
  background-color: black;
  color: #5c0a0a;
  border: 2px solid black; 
}

.dropdown-toggle:active, .btn-primary:active {
  background-color: black; 
  color: #5c0a0a;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; /* Stała pozycja */
  top: 50%; /* Centrowanie w pionie */
  left: 50%; /* Centrowanie w poziomie */
  transform: translate(-50%, -50%); /* Ajustowanie pozycji centrowania */
  background-color: #5c0a0a; /* Kolor tła dla formularza */
  padding: 20px; /* Padding wewnątrz formularza */
  border: 2px solid black; 
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input {
  margin-bottom: 10px; /* Odległość między inputami */
  width: 100%; /* Pełna szerokość dostępnej przestrzeni */
}

.form-container button {
  align-self: center; /* Wyśrodkowanie przycisku */
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.btn-primary:active {
  background-color: black; /* Niebieskie tło */
  color: white;
}

/* Dodaj na końcu App.css */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu-item {
  cursor: pointer;
  /* inne style dla przycisku menu */
}

#character-card-dropdown-content {
  display: block;
}

.dropdown-menu-item {
  color: white; /* Kolor tekstu elementów */
  padding: 5px; /* Wewnętrzny odstęp dla elementów */
  /* style dla elementów rozwijanego menu */
}