.character-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border: 2px solid black;
}

.character-form-container label {
  margin-bottom: 5px;
}

.character-form-container input {
  margin-bottom: 10px;
  width: 50%;
}

.character-form-container button {
  align-items: flex-start;
  align-self: right;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  display: block;
  width: 100%;
}

.character-form-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; /* Przesunięcie elementów w prawą stronę */
  align-self: center;
}
